<h2>AllMessages</h2>
<div class="well">
<% @messages.each do |message| %>
  <div class="message">
    <span class="label label-info"><%= message.name %></span>  : <%= message.body %>  
    <span style="color: #bbb; font-style: oblique;">
      <% if message.age %>-- <%= message.age %> years old<% end %>
    </span>
    <span class="edit_hidden">
      <%= link_to "Edit", edit_message_path(message), class: 'bg-success' %>
      <%= link_to "Delete", message, method: :delete, data: { confirm: '削除してもよろしいですか？' }, class: 'bg-danger' %>
    </span>
  </div>
<% end %>
</div>

<hr>

<h2>Send Message</h2>
<% # 部分テンプレートの読み込み %>
<%= render 'form' %>
